body {
    background: radial-gradient( #6F7796 0%, #000000 100%);

}

.favoritos {
color: white;
display: flex;
background-color: palevioletred;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul {
    color: white;
    font-family: 'Poppins', sans-serif;
}

ol {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.acción {
    color: white;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 50vh;
    width: 30vw;
}