body {
    background: radial-gradient( #6F7796 0%, #000000 100%);

}

.favoritos {
color: white;
display: flex;
background-color: palevioletred;
}

h1 {
    color: white;
}

p {
    color: white;
}

h2 {
    color: white;
}

ul {
    color: white;
}

ol {
    color: white;
}

.acción {
    color: white;
}