body {
    background: radial-gradient( #6F7796 0%, #000000 100%);

}

.favoritos {
color: white;
display: flex;
background-color: palevioletred;
}

h1 {
    color: white;
    font-family: 'Red Hat Text', sans-serif;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

ul {
    color: white;
    font-family: 'Poppins', sans-serif;
}

ol {
    color: white;
    font-family: 'Poppins', sans-serif;
}

li {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.acción {
    color: white;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 50vh;
    width: 30vw;
    border-radius: 2%;
    border-color: white;
}

a {
    color: white;
}
.container1 {

    
}

.peli1 {
   
}

.peli2 {
   
}

.peli3 {
   
}

.peli4 {
   
}

.peli5 {
    
}

.container2 {


    
}
.container3 {
   
}